<h2>Edit form</h2>
<% form_for(@user, :html => {:class => 'validate'}) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </p>

  <p>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </p>
  
  <p>
  <%= f.label :student_number %>
  <%= f.text_field :student_number %>
  </p>

  <p>
  <%= f.label :password, 'New password' %>
  <%= f.password_field :password %>
  </p>

  <p>
  <%= f.label :password_confirmation, 'New password confirmation' %>
  <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Change" %>
  </p>
<% end %>
